spring:
  datasource:
    username: admin
    password: 123456
    url: jdbc:postgresql://localhost:5432/postgres-db
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
    jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      generate-ddl: true
      hibernate:
        ddl-auto: update
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      show-sql: true

api:
  security:
    token:
      secret: ${JWT_SECRET:my-secret-key}